<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑内容</title>
</head>
<body>
<h1>编辑信息发送到朋友圈</h1>
<form action="" enctype='multipart/form-data' method='POST'>

    <div class="input-group input-group-lg">
        <input name="text" type="text" class="form-control" placeholder="编辑文本" aria-describedby="sizing-addon1"
               style="width: 300px" value="朋友圈文本内容">
    </div>
    <br>

    <label>图片:</label><br>
    <input type="file" name="file0">
    <input type="file" name="file1">
    <input type="file" name="file2">
    <input type="file" name="file3">
    <input type="file" name="file4">
    <input type="file" name="file5">
    <input type="file" name="file6">
    <input type="file" name="file7">
    <input type="file" name="file8">

    <br><br>
    <label>视频:</label><br>
    <input type="file" name="video">
    <br><br>

    <input type="submit" value="上传">
</form>
</body>
</html>